@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

header {
    background-image: url("https://images01.nicepage.com/1e/33/1e337aca6926e6390da9170be3bb09db.png");
    height: 800px;
    display: flex;
}

.logo {
    margin: 50px 0 0 100%;
    width: 350px;
}

.subSection-header {
    margin-top: 18%;
    margin-left: 40%;
}

.title1 {
    color: #f15048;
    font-size: 95px;
    font-weight: 600;
}

.subTitle1 {
    color: white;
    font-size: 65px;
    margin-left: 40%;
    font-weight: 600;
}

.text1 {
    color: white;
    margin-right: 26%;
    margin-top: 10px;
    text-align: right;
}

.btn1 {
    margin-left: 56%;
    font-weight: 600;
    margin-top: 30px;
}

.section1 {
    display: flex;
}

.subSection-section1 {
    margin: 100px 50% 0 10%;
}

.title2 {
    font-size: 70px;
    font-weight: 600;
}

.subTitle2 {
     font-size: 30px;
     font-weight: 600;    
}

.text2 {
    margin: 20px 0 20px 0;
}

.img2 {
    height: 600px;
    position: absolute;
    bottom: 8px;
    right: 10%;
    top: 100%;
}

.section2 {
    display: flex;
    margin-top: 200px;
    padding: 75px 0 50px 0;
}

.subSection-section2 {
    margin: 0 2% 0 10%;
}

.title3 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 10px;
}

.subTitle3 {
    font-size: 20px;
    font-weight: 600;
}

.text3 {
    margin: 20px 0 20px 0;
    width: 400px;
}

.img3 {
   padding: 0 20% 0 10%;
}

.section3 {
    margin-top: 150px;
}

.subSection-section3 {
    text-align: center;
}

.beats-color {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.title4 {
    font-size: 80px;
    font-weight: 600;
    margin-bottom: 10px;
}

.subTitle4 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.title-card {
   text-align: center;
   font-weight: 600;
   margin-top: 5px;
}

.subTitle-card {
    text-align: center;
    font-weight: 600;
    margin-top: 5px;
}

.price-card {
    text-align: center;
    font-weight: 600;
    margin-top: 5px;
}

.section4 {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
}

.img4 {
    height: 500px;
    margin: 0 0 0 100px;
}

.subSection-section4 {
    margin: 100px 0 0 100px;
}

.list {
    list-style-type: disc;
}

.title5 {
    font-size: 60px;
    font-weight: 600;
}

.subTitle5 {
    font-size: 20px;
    font-weight: 600;
    margin: 5px 0 10px 0;
}

.btn4 {
    margin: 20px 0 0 0;
}

footer {
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 500px) {
    header {
        height: 600px;
        display: flex;
    }
    .logo {
        margin: 50px 0 0 100%;
        width: 550px;
    }
    
    .subSection-header {
        margin-top: 10%;
        margin-left: 0;
    }
    .title1 {
        margin: 50% 0 0 0;
        font-size: 40px;
        font-weight: 600;
        text-align: left;

    }
    .subTitle1 {
        color: white;
        font-size: 18px;
        font-weight: 600;
        margin: 20px 50px 20px 0;
        text-align: center;
    }
    .text1 {
        color: white;
        margin-right: 26%;
        margin-top: 10px;
        text-align: right;
    }
    .btn1 {
        margin-left: 10%;
        font-weight: 600;
        margin-top: 30px;
    }
    .img2 {
        display: none;
    }
    .title2 {
    font-size: 50px;
    }
    .subTitle2 {
     font-size: 15px;
    }
    .text2 {
        margin: 20px 0 20px 0;
     font-size: 15px;

    }
    .title3 {
        font-size: 40px;
    }
    
    .subTitle3 {
        font-size: 18px;
    }
    
    .text3 {
        width: 300px;
    }
    .img3 {
        display: none;
    }
    .img4 {
        height: 200px;
    }
    .subSection-section4 {
        margin: 100px 0 0 75px;
    }
    .title5 {
        font-size: 50px;
    }
    .subTitle5 {
        font-size: 25px;
        font-weight: 600;
        margin: 5px 0 10px 0;
    }
    footer {
        margin: 20px 0 20px 0;
    }
}

@media (max-width: 1100px) {
    .img2 {
        display: none;
    }
}